force-app/main/default/flows/Assesment_Complete_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Dev finishes their assessment and this email is sent to the Lead.</description>
        <name>AssesmentCompleteEmail</name>
        <label>AssesmentCompleteEmail</label>
        <locationX>515</locationX>
        <locationY>453</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Find_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Find_User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>paola.hiciano@theksquaregroup.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Assesmennt Done</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>DevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Paola Hiciano</stringValue>
        </value>
    </constants>
    <interviewLabel>Assesment Complete Flow</interviewLabel>
    <label>Assesment Complete Flow 2</label>
    <loops>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>323</locationX>
        <locationY>381</locationY>
        <collectionReference>userCEORole</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssesmentCompleteEmail</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getUsers</name>
        <label>getUsers</label>
        <locationX>168</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E4x000001DAc8</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>userCEORole</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <start>
        <locationX>45</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>getUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assesment_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!CEOUser.FirstName}, Paola Hiciano was working on her Code Assessment and now is done.&lt;/p&gt;&lt;p&gt;Please check the Git repository: https://github.com/PaoHKS/assessment-PaolaHiciano.&lt;/p&gt;&lt;p&gt;Today date: {!$System.OriginDateTime},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!CEOUser.Email}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CEOUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userCEORole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
