force-app/main/default/flows/Send_Email_When_Assesment_is_Completed_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Completion_Email_to_User</name>
        <label>Send Completion Email to User</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Completed_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Email_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Completed_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Email_Recipients</name>
        <label>Assign Email Recipients</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Completion_Email_to_User</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Send Email When Assesment is Completed Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email When Assesment is Completed Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Email_Recipients</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assessment_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Completed_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.FirstName} {!$Record.LastName} ({!$Record.Username}),&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The assessment for Eduardo Castro was marked as Completed on {!$Flow.CurrentDate}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total Hours spent: 10 hours (1 hour in Setup, 2:30 hours on Back-End and 6:30 hours in Front-End).&lt;/p&gt;&lt;p&gt;All the data is stored on the following &lt;a href=&quot;https://github.com/EdCasEv/solution-EduardoCastro&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Repository Link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks for the attention and time.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Completed_Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Assesment for Eduardo Castro was marked as Completed.</text>
    </textTemplates>
    <variables>
        <name>Email_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
